.project {
  padding-top: 100px;
  padding-bottom: 50px;
}

.project__inner {
  display: grid;
  grid-template-columns: auto 380px;
  gap: 120px;
}

.project__list {
  display: grid;
  row-gap: 30px;
}

.project__item {
  display: grid;
  grid-template-columns: auto 360px;
  column-gap: var(--gap);
}

.project__info {
  /* max-width: 380px; */
  display: grid;
  row-gap: 7px;
}

.subtitle__info {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.33333;
  color: var(--2);
  margin-bottom: 15px;
}

.subtitle__descr {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  color: var(--2);
  margin-bottom: 20px;
}

.subtitle__link {
  display: flex;
  /* max-width: 152px; */
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  color: var(--1);
  align-items: center;
  column-gap: 15px;

  img {
    width: 29px;
    height: 29px;
  }
}

.right {
  display: grid;
  grid-template-rows: 450px auto;
  justify-content: space-between;
  row-gap: 52px;
}

.project__banner {
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.banner__info {
  padding: 293px 10px 40px;
}

.banner__descr {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.33333;
  color: var(--3);
}

.banner__link {
  display: flex;
  max-width: 152px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  color: var(--1);
  margin-left: auto;

  img {
    padding-left: 15px;
  }
}

.more {
  display: grid;
  grid-template-rows: max-content auto;
}

.more__subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  color: var(--2);
  margin-bottom: 22px;
}

.more__img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

@media(max-width: 1024px) {

  .container {
    max-width: 880px;
  }

  .project {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .title {
    font-size: 44px;
    line-height: 1.22727;
  }

  .project__inner {
    grid-template-columns: auto 280px;
    column-gap: 20px;
  }

  .project__list {
    grid-template-rows: 180px;
  }

  .project__item {
    grid-template-columns: auto 380px;
  }

  .project__info {}

  .subtitle__info {
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 10px;
  }

  .subtitle__descr {
    font-size: 18px;
    line-height: 1.44444;
    margin-bottom: 11px;
  }

  .subtitle__link {
    max-width: 135px;
    font-size: 18px;

    img {
      padding-left: 9px;
    }
  }

  .right {
    grid-template-rows: 332px auto;
    justify-content: space-between;
    row-gap: 33px;
  }

  .project__banner {}

  .banner__info {
    padding: 196px 10px 46px;
  }

  .banner__descr {
    font-size: 24px;
    line-height: 1.25;
  }

  .banner__link {
    font-size: 18px;
    line-height: 1.33333;
    width: 135px;

    img {
      padding-left: 9px;
    }
  }

  .more {}

  .more__subtitle {
    font-size: 18px;
    line-height: 1.33333;
    margin-bottom: 6px;
  }

  .more__img {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }
}

@media(max-width: 768px) {
  .container {
    max-width: 700px;
  }

  .project {
    padding-top: 60px;
    padding-bottom: 30px;
  }

  .title {
    font-size: 30px;
    line-height: 1.13333;
    margin-bottom: 30px;
  }

  .project__inner {
    grid-template-columns: auto 220px;
    column-gap: 80px;
  }

  .project__list {
    grid-template-rows: 104px;
  }

  .project__item {
    grid-template-columns: auto 240px;
    column-gap: 10px;
  }

  .subtitle__info {
    font-size: 18px;
    line-height: 1.33333;
    opacity: 0.3;
    margin-bottom: 3px;
  }

  .subtitle__descr {
    font-size: 14px;
    line-height: 1.42857;
    margin-bottom: 10px;
  }

  .subtitle__link {
    max-width: 115px;
    font-size: 14px;
    line-height: 1.42857;

    img {
      padding-left: 10px;
    }
  }

  .right {
    grid-template-rows: auto;
    justify-content: space-between;
    row-gap: 20px;
  }

  .banner__info {
    padding: 196px 10px 46px;
  }

  .banner__descr {
    font-size: 24px;
    line-height: 1.25;
  }

  .banner__link {
    font-size: 18px;
    line-height: 1.33333;
    width: 135px;

    img {
      padding-left: 9px;
    }
  }

  .more {}

  .more__subtitle {
    font-size: 18px;
    line-height: 1.33333;
    margin-bottom: 6px;
  }

  .more__img {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }
}