.project__inner {
  display: grid;
  grid-template-columns: auto 380px;
  column-gap: 120px;
}

.project__list {
  display: grid;
  align-content: space-between;
}

.project__item {
  display: grid;
  grid-template-columns: 280px auto;
  column-gap: 20px;
}

.project__info {
  display: grid;
  row-gap: 7px;
}

.subtitle__info {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.33333;
  color: var(--2);
  margin-bottom: 15px;
}

.subtitle__descr {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  color: var(--2);
  margin-bottom: 20px;
}

.subtitle__link {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.subtitle__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  color: var(--1);

  img {
    width: 29px;
    height: 29px;
  }
}

.more {
  display: grid;
  grid-template-rows: max-content auto;
}

.more__subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 22px;
}

.more__img {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.right {
  display: grid;
  grid-template-rows: 450px auto;
  justify-content: space-between;
  row-gap: 52px;
}

.project__banner {
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.banner__info {
  padding: 293px 10px 40px;
}

.banner__descr {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.33333;
  color: var(--3);
}

.banner__link {
  display: flex;
  max-width: 152px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  color: var(--1);
  margin-left: auto;

  img {
    padding-left: 15px;
  }
}

@media(max-width: 1199.99px) {

  .container {
    max-width: 880px;
    padding: 0 72px;
  }

  .title {
    font-size: 44px;
    line-height: 1.22727;
    margin-bottom: 30px;
  }

  .project__inner {
    grid-template-columns: auto 280px;
    column-gap: 20px;
  }

  .project__list {
    grid-template-rows: 130px;
    row-gap: 20px;


  }

  .project__info {
    max-width: 130px;
  }

  .project__item {
    grid-template-columns: 270px;
  }

  .subtitle__info {
    font-size: 16px;
    line-height: 1.375;

  }

  .subtitle__descr {
    font-size: 14px;
    line-height: 1.42857;

  }

  .subtitle__link {
    max-width: 135px;
    font-size: 18px;

    img {
      padding-left: 9px;
    }
  }

  .banner__info {
    padding: 196px 10px 46px;
  }

  .banner__descr {
    font-size: 24px;
    line-height: 1.25;
  }

  .banner__link {
    font-size: 18px;
    line-height: 1.33333;

    img {
      padding-left: 9px;
    }
  }

  .right {
    grid-template-rows: 332px 245px;
    row-gap: 33px;
  }

  .more__img {
    grid-template-columns: repeat(auto-fill, 80px);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-rows: 0;
    grid-auto-columns: 0;
    overflow-y: hidden;
  }
}

@media(max-width: 479.99px) {

  .container {
    max-width: 270px;
    padding: 0 25px;
  }

  .title {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 20px;
  }

  .project__inner {
    grid-template-columns: 270px;
  }

  .project__list {
    grid-template-rows: 134px;
    column-gap: 20px;


  }

  .project__info {
    max-width: 130px;
  }

  .project__item {
    grid-template-columns: 200px auto;
  }

  .subtitle__info {
    font-size: 24px;
    line-height: 1.25;

  }

  .subtitle__descr {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.44444;

  }

  .subtitle__link {
    max-width: 135px;
    font-size: 18px;

    img {
      padding-left: 9px;
    }
  }

  .banner__info {
    padding: 196px 10px 46px;
  }

  .banner__descr {
    font-size: 24px;
    line-height: 1.25;
  }

  .banner__link {
    font-size: 18px;
    line-height: 1.33333;

    img {
      padding-left: 9px;
    }
  }

  .right {
    grid-template-rows: 332px 245px;
    row-gap: 33px;
  }

  .more__img {
    grid-template-columns: repeat(auto-fill, 80px);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-rows: 0;
    grid-auto-columns: 0;
    overflow-y: hidden;
  }
}